[Desktop Entry]
Encoding=UTF-8
Version=1.0.5
Type=Application
Terminal=false
Name=BibleTime Mini
Exec=/usr/bin/single-instance /opt/btmini/bin/btmini
Icon=/usr/share/icons/hicolor/80x80/apps/btmini80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
