[submodule "sword"]
	path = sword
	url = git@github.com:kalemas/sword.git
[submodule "curl"]
	path = curl
	url = git@github.com:kalemas/libcurlwp8.git
[submodule "bibletime"]
	path = bibletime
	url = git@github.com:bibletime/mini.git
[submodule "clucene"]
	path = clucene
	url = git@github.com:kalemas/clucene.git
